.cmd-input,
.cmd-label {
  padding: 0;
  margin: 0;
  color: #01da00;
  font-size: 1em;
  height: 1em;
  display: block;
  float: left;
}

.cmd-input {
  border: none;
  background-color: inherit;
  min-width: 100px;
}

.cmd-input:focus {
  outline-width: 0;
}

.cmd-label {  
}

.cmd-line:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.cmd-line {
  background-color: inherit;
  display: inline-block;
  width: 100%;
}
 
html[xmlns] .cmd-line {
  display: block;
}
 
* html .cmd-line {
  height: 1%;
}